<div>
  <div class="card" style="margin: 20px;align-content: center">
    <table *ngFor="let c of compte">
      <tr>
        <td style="color:#1da1f2"><b><i>Num compte :</i></b></td>
        <td>{{c.numCompte}}</td>

      </tr>
      <tr>
        <td><b>Solde</b></td>
        <td>{{c.solde}}</td>

      </tr>
      <tr>
        <td><b>Type Compte</b></td>
        <td>{{c.typeCompte}}</td>

      </tr>
    </table>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Date de transaction</th>
      <th scope="col">Type</th>
      <th scope="col">Montant</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let t of transactions ">
      <th scope="row">{{t.dateTransaction}}</th>
      <td>{{t.type}}</td>
      <td>{{t.montant}}</td>
    </tr>

    </tbody>
  </table>
</div>
