<div class="banner">
<div class="container">
  <div class="banner-text agileits-w3layouts">
    <div id="top" class="callbacks_container">
      <ul class="rslides" id="slider3">
        <li>
          <div class="banner-textagileinfo">
            <h6>Welcome To E-Banking</h6>
            <h3>Safe,secure and convenient banking</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in consectetur adipiscing elit, Nullam in
              neque neque malesua.</p>
            <div class="agileits-banner-bot">
              <div class="col-md-4 col-sm-4 col-xs-4 w3l-bb-grid1">
                <h5>01</h5>
                <h4>convenient</h4>
                <p>Consectetur adipiscing elit, Nullam in neque malesuadaLorem</p>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-4 w3l-bb-grid1">
                <h5>02</h5>
                <h4>secure</h4>

              </div>
              <div class="col-md-4 col-sm-4 col-xs-4 w3l-bb-grid1">
                <h5>03</h5>
                <h4>reliable</h4>

              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>
</div>
